/* ./src/input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color variables */
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --text-color: #333;
  --background-color: #f8f9fa;

  /* Font sizes */
  --font-size-base: 16px;
  --font-size-large: 1.25rem;
  --font-size-small: 0.875rem;

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;

  /* Font family */
  --font-family: 'Arial', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  /* 1rem = 16px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* Set vertical overflow to auto */
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom vertical scrollbar */
body::-webkit-scrollbar {
  width: 4px;
  /* Set the width of the scrollbar */

}

body::-webkit-scrollbar-track {
  background: #000814;
  /* Remove any background color to make it transparent */
}


body::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  /* Set the scrollbar thumb color */
  border-radius: 10px;
  /* Make the scrollbar thumb rounded */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #2d3748;
  /* Change the thumb color on hover */
}

.backurl_bg {
  background: url("./assets/Images/bghome.svg");
}

.grad {
  position: absolute;
  width: 372.95px;
  height: 257.05px;
  left: calc(50% - 372.95px/2 - 76.53px);
  top: calc(50% - 257.05px/2 - 47.47px);

  /* Gradient/02 */

  background: linear-gradient(123.77deg, #8A2BE2 -6.46%, #FFA500 59.04%, #F8F8FF 124.53%);
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.grad2 {
  position: absolute;
  width: 372.95px;
  height: 257.05px;
  left: calc(50% - 372.95px/2 - 76.53px);
  top: calc(50% - 257.05px/2 - 47.47px);

  /* Gradient/05 */

  background: linear-gradient(118.19deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%);
  opacity: 0.2;
  filter: blur(34px);
  transform: matrix(1, 0, -0.03, 1, 0, 0);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

li {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

li:hover {
  color: #C5C7D4
}

